<div bsModal #editPasswordModal="bs-modal" class="modal fade" (onShown)="onShown()" tabindex="-1" role="dialog" aria-labelledby="editPasswordModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog">
        
        <div #modalContent class="modal-content">
            <form *ngIf="active" #editPasswordForm="ngForm" id="frm_edit_password" novalidate (ngSubmit)="check()">
                <div class="modal-header">
                    <button type="button" class="close" (click)="close()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">
                        <span>{{l("EditPassword")}}</span>
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane animated fadeIn active" id="edit-password-details">
                            
                            <div class="row clearfix">
                                <div class="col-sm-12">
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <input id="currentPassword" type="password" name="CurrentPassword" [(ngModel)]="currentPassword" required maxlength="256" class="validate form-control">
                                            <i *ngIf="visibleCurrent; else notVisibleCurrent" (click)="visibilityCurrent()" class="material-icons right btn-default">visibility</i>
                                            <label for="currentPassword" class="form-label">{{l("CurrentPassword")}}</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-sm-12">
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <input id="newPassword" type="password" name="NewPassword" [(ngModel)]="newPassword" required maxlength="256" class="validate form-control">
                                            <i *ngIf="visibleNew; else notVisibleNew" (click)="visibilityNew()" class="material-icons right btn-default">visibility</i>
                                            <label for="newPassword" class="form-label">{{l("NewPassword")}}</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-sm-12">
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <input id="reEnterPassword" type="password" name="ReEnterPassword" [(ngModel)]="reEnterPassword" required maxlength="256" class="validate form-control">
                                            <i *ngIf="visibleReEnter; else notVisibleReEnter" (click)="visibilityReEnter()" class="material-icons right btn-default">visibility</i>
                                            <label for="reEnterPassword" class="form-label">{{l("ReEnterPassword")}}</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default waves-effect" (click)="close()">
                        {{l("Cancel")}}
                    </button>
                    <button [disabled]="saving" type="submit" class="btn btn-primary waves-effect">
                        {{l("Save")}}
                    </button>
                </div>
                
            </form>
        </div>
    </div>
</div>

<ng-template #notVisibleCurrent>
        <i (click)="visibilityCurrent()" class="material-icons right btn-default">visibility_off</i>    
</ng-template>
<ng-template #notVisibleNew>
        <i (click)="visibilityNew()" class="material-icons right btn-default">visibility_off</i>    
</ng-template>
<ng-template #notVisibleReEnter>
        <i (click)="visibilityReEnter()" class="material-icons right btn-default">visibility_off</i>    
</ng-template>